/* Body style */
body {
  font-family: 'Work Sans', sans-serif;
  overflow-x: hidden;
}

/* Start Upper bar Content */
.upper-bar {
  padding: 20px;
  background: #fff;
  border-bottom: 1px solid #cec7c71a;
}
.upper-bar .links a {
  color: #3399FF;
}
.upper-bar .links a:hover {
  text-decoration: none;
}
.upper-bar .links a:not(:first-of-type) {
  margin-left: 10px;
}
.upper-bar .social-links i {
  color: #3399FF;
}
.upper-bar .social-links i:hover {
  cursor: pointer;
}
.upper-bar .social-links i:not(:last-of-type) {
  margin-right: 10px;
}

/* End Upper bar Content */
/* Start Navigation */
.navbar {
  height: 80px;
  background: #fff;
  -webkit-box-shadow: 2px 2px 10px rgba(234, 234, 234, 0.5);
  -moz-box-shadow: 2px 2px 10px rgba(234, 234, 234, 0.5);
  -ms-box-shadow: 2px 2px 10px rgba(234, 234, 234, 0.5);
  -o-box-shadow: 2px 2px 10px rgba(234, 234, 234, 0.5);
  box-shadow: 2px 2px 10px rgba(234, 234, 234, 0.5);
}
.navbar .nav-content {
  margin-top: 26px;
}
.navbar .nav-content .logo {
  text-align: left;
  color: #000;
  margin-top: 3px;
  cursor: pointer;
}
.navbar .nav-content .logo a {
  text-align: center;
  text-decoration: none;
  color: #3399FF;
  font-weight: 900;
}
.navbar .nav-content .logo a i {
  font-size: 15px;
}
.navbar .nav-content .search {
  text-align: center;
}
.navbar .nav-content .search .uk-search {
  width: 220px;
  margin-top: -6px;
  top: -20px;
}
.navbar .nav-content .search .uk-search .uk-search-icon {
  color: #3399FF !important;
}
.navbar .nav-content .search .uk-search .uk-search-input {
  height: 81px;
  border: none;
}
.navbar .nav-content .nav-menu {
  text-align: right;
}
.navbar .nav-content .nav-menu i {
  color: #3399FF;
  font-size: 24px !important;
  margin-top: 2px !important;
}

/** Editing on Navbar items **/
.uk-offcanvas .uk-offcanvas-bar {
  background: rgba(255, 255, 255, 0.98);
}
.uk-offcanvas .uk-offcanvas-bar h4 {
  color: #3399FF;
  margin-top: 70px;
}
.uk-offcanvas .uk-offcanvas-bar ul {
  padding-left: 0;
}
.uk-offcanvas .uk-offcanvas-bar ul li {
  list-style: none;
  padding: 15px 0;
}
.uk-offcanvas .uk-offcanvas-bar ul li:not(:last-child) {
  border-bottom: 1px solid #efeded;
}
.uk-offcanvas .uk-offcanvas-bar ul li a {
  text-decoration: none;
  color: #000;
}
.uk-offcanvas .uk-offcanvas-bar ul li a:hover {
  color: #000;
}
.uk-offcanvas .uk-offcanvas-bar ul li .uk-button-text::before {
  border-bottom: 1px solid #000;
}
.uk-offcanvas .uk-offcanvas-bar .search {
  padding: 15px 0;
}
.uk-offcanvas .uk-offcanvas-bar .search .uk-search {
  width: 220px;
  margin-top: -6px;
  top: -20px;
}
.uk-offcanvas .uk-offcanvas-bar .search .uk-search span {
  margin-left: -10px;
  color: #000 !important;
}
.uk-offcanvas .uk-offcanvas-bar .search .uk-search .uk-search-input {
  height: 81px;
  border: none;
  padding-left: 30px;
  color: #000 !important;
}
.uk-offcanvas .uk-offcanvas-bar .search .uk-search .uk-search-icon {
  color: #3399FF !important;
}

.uk-offcanvas-bar .uk-button-text:focus {
  color: #000;
}

.placeholder-color::-webkit-input-placeholder {
  color: #a3a3a3 !important;
}

.change:-moz-placeholder {
  color: #a3a3a3 !important;
  opacity: 1;
}

.change::-moz-placeholder {
  color: #a3a3a3 !important;
  opacity: 1;
}

.change:-ms-input-placeholder {
  color: #a3a3a3 !important;
}

/* End Navigation */
/* Start Header */
.header span {
  color: #fff;
}
.header h2 {
  margin: 0;
  font-weight: 900;
  color: #3399FF;
  font-size: 60px;
}
.header p {
  color: #fff;
  margin-top: 0;
}
.header button {
  width: 150px;
  height: 46px;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  -ms-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  margin-right: 10px;
  margin-bottom: 7px;
}
.header .sign-btn, .header .learn-btn {
  background: #3399FF;
  -ms-transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header .sign-btn .fa-long-arrow-right, .header .sign-btn .fa-plus, .header .learn-btn .fa-long-arrow-right, .header .learn-btn .fa-plus {
  transform: scale(0);
  margin-left: -10px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.header .sign-btn:hover .fa-long-arrow-right, .header .sign-btn:hover .fa-plus, .header .learn-btn:hover .fa-long-arrow-right, .header .learn-btn:hover .fa-plus {
  transform: scale(1);
  margin-left: 7px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.header .learn-btn {
  background: #000;
}
.header .sign-btn:hover {
  background: #000;
}
.header .learn-btn:hover {
  background: #3399FF;
}

/* End Header */
/* Start About us Section */
.about-us {
  padding: 100px 0;
}
.about-us .info .about-heading h3 {
  font-weight: 900;
  color: #000;
  margin: 0;
}
.about-us .info .about-heading h6 {
  margin: 0;
  color: #000;
}
.about-us .info p {
  margin-top: 25px;
  line-height: 2;
}
.about-us .info a {
  width: 150px;
  height: 46px;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  -ms-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inherit;
  text-align: center;
  line-height: 48px;
  text-decoration: none;
  font-size: 14px;
}
.about-us .info .read-btn {
  background: #3399FF;
  -ms-transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.about-us .info .read-btn .fa-long-arrow-right, .about-us .info .read-btn .fa-plus {
  transform: scale(0);
  margin-left: -10px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.about-us .info .read-btn:hover .fa-plus {
  transform: scale(1);
  margin-left: 7px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.uk-dotnav > * > * {
  width: 12px;
  height: 12px;
}

.uk-dotnav > .uk-active > * {
  background-color: #3399FF !important;
}

.uk-dotnav > * > :focus, .uk-dotnav > * > :hover {
  background: #3399FF !important;
}

#modal-full h3 {
  font-weight: 900;
  color: #3399FF;
  letter-spacing: 1.8px;
}
#modal-full h3 i {
  color: #3399FF;
  font-size: 18px;
  position: relative;
  top: -3px;
}
#modal-full ul li h5 {
  color: #000;
}
#modal-full ul li p {
  color: #000;
}

/* End About us Section */
/* Start quote section */
.quote {
  padding: 100px 0;
  color: #FFF;
  height: 200px;
  -webkit-background: linear-gradient(rgba(51, 153, 255, 0.8), rgba(51, 153, 255, 0.8)), url("../imgs/ser6.jpg");
  -ms-background: linear-gradient(rgba(51, 153, 255, 0.8), rgba(51, 153, 255, 0.8)), url("../imgs/ser6.jpg");
  -moz-background: linear-gradient(rgba(51, 153, 255, 0.8), rgba(51, 153, 255, 0.8)), url("../imgs/ser6.jpg");
  -o-background: linear-gradient(rgba(51, 153, 255, 0.8), rgba(51, 153, 255, 0.8)), url("../imgs/ser6.jpg");
  background: linear-gradient(rgba(51, 153, 255, 0.8), rgba(51, 153, 255, 0.8)), url("../imgs/ser6.jpg");
  -webkit-background-attachment: fixed;
  -ms-background-attachment: fixed;
  -moz-background-attachment: fixed;
  -o-background-attachment: fixed;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.quote .quote-icon i {
  font-size: 45px;
  color: #fff;
  margin-top: 20px;
}
.quote .sentence p {
  font-size: 30px;
  color: #fff;
}
.quote .speaker span {
  color: #fff;
}

/* End quote section */
/* Start Services */
.services {
  padding: 100px 0;
}
.services .heading h3 {
  color: #000;
  font-weight: 900;
}
.services .ser-content {
  margin: 50px 0;
}
.services .ser-content .marker {
  position: relative;
}
.services .ser-content .marker i {
  position: absolute;
  right: -10px;
  top: -9px;
  color: #3399FF;
  background: #fff;
  padding: 10px;
  border-radius: 50%;
  font-size: 20px;
}
.services .ser-content .desc {
  margin-top: 20px;
}
.services .ser-content .desc p {
  line-height: 1.6;
  margin-bottom: 15px;
}
.services .ser-content .desc button {
  width: 150px;
  height: 46px;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  -ms-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: #3399FF;
  -ms-transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.services .ser-content .desc button .fa-long-arrow-right {
  transform: scale(0);
  margin-left: -10px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.services .ser-content .desc button:hover .fa-long-arrow-right {
  transform: scale(1);
  margin-left: 7px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

/* End Services */
/* Start Package Services */
.package-ser {
  padding-bottom: 100px;
}
.package-ser .heading h3 {
  color: #000;
  font-weight: 900;
}
.package-ser .package-content {
  margin: 50px 0;
}
.package-ser .package-content .box {
  padding: 50px;
  -webkit-background-image: linear-gradient(200deg, #00A6ED 0%, #3399FF 100%);
  -moz-background-image: linear-gradient(200deg, #00A6ED 0%, #3399FF 100%);
  -ms-background-image: linear-gradient(200deg, #00A6ED 0%, #3399FF 100%);
  -o-background-image: linear-gradient(200deg, #00A6ED 0%, #3399FF 100%);
  background-image: linear-gradient(200deg, #00A6ED 0%, #3399FF 100%);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  -ms-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.package-ser .package-content .box .icon i {
  font-size: 40px;
  color: #fff;
  margin-bottom: 15px;
}
.package-ser .package-content .box .package-title h4 {
  color: #fff;
}
.package-ser .package-content .box .package-desc p {
  color: #fff;
}
.package-ser .package-content .box button {
  width: 150px;
  height: 46px;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  -ms-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: #3399FF;
}
.package-ser .package-content .box button .fa-long-arrow-right {
  transform: scale(0);
  margin-left: -10px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.package-ser .package-content .box button:hover .fa-long-arrow-right {
  transform: scale(1);
  margin-left: 7px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

/* End Package Services */
/* Start features you own section */
.features {
  height: 435px;
  color: #000;
  -webkit-background: linear-gradient(rgba(255, 255, 255, 0.93), rgba(255, 255, 255, 0.93)), url("../imgs/features.jpg");
  -ms-background: linear-gradient(rgba(255, 255, 255, 0.93), rgba(255, 255, 255, 0.93)), url("../imgs/features.jpg");
  -moz-background: linear-gradient(rgba(255, 255, 255, 0.93), rgba(255, 255, 255, 0.93)), url("../imgs/features.jpg");
  -o-background: linear-gradient(rgba(255, 255, 255, 0.93), rgba(255, 255, 255, 0.93)), url("../imgs/features.jpg");
  background: linear-gradient(rgba(255, 255, 255, 0.93), rgba(255, 255, 255, 0.93)), url("../imgs/features.jpg");
  -webkit-background-position: center center;
  -ms-background-position: center center;
  -moz-background-position: center center;
  -o-background-position: center center;
  background-position: center center;
  -webkit-background-attachment: fixed;
  -ms-background-attachment: fixed;
  -moz-background-attachment: fixed;
  -o-background-attachment: fixed;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.features .features-content .info {
  margin-top: 110px;
}
.features .features-content .info ul {
  margin-top: 80px;
}
.features .features-content .info .uk-nav .uk-active span {
  background: #3399FF;
  height: 25px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.features .features-content .info .uk-nav li a span {
  width: 10px;
  height: 15px;
  background: #e9e9e9;
  display: block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.features .features-content .info .uk-switcher li {
  display: block;
  line-height: 2.4;
}
.features .features-content .info .uk-switcher li i {
  color: #3399FF;
  margin-right: 10px;
}
.features .features-content .info button {
  width: 150px;
  height: 46px;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  -ms-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.features .features-content .info .sign-btn, .features .features-content .info .learn-btn {
  background: #3399FF;
  -ms-transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.features .features-content .info .sign-btn .fa-long-arrow-right, .features .features-content .info .sign-btn .fa-plus, .features .features-content .info .learn-btn .fa-long-arrow-right, .features .features-content .info .learn-btn .fa-plus {
  transform: scale(0);
  margin-left: -10px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.features .features-content .info .sign-btn:hover .fa-long-arrow-right, .features .features-content .info .sign-btn:hover .fa-plus, .features .features-content .info .learn-btn:hover .fa-long-arrow-right, .features .features-content .info .learn-btn:hover .fa-plus {
  transform: scale(1);
  margin-left: 7px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.features .features-content .info .learn-btn {
  background: #000;
}
.features .features-content .info .sign-btn:hover {
  background: #000;
}
.features .features-content .info .learn-btn:hover {
  background: #3399FF;
}

/* End features you own section */
/* Start Our Doctors Section */
.our-doctors {
  padding: 100px 0;
}
.our-doctors .heading h3 {
  font-weight: 900;
  color: #000;
}
.our-doctors .our-doctors-content {
  margin: 50px 0;
}
.our-doctors .our-doctors-content .uk-subnav-pill > .uk-active > a {
  background: #3399FF !important;
}
.our-doctors .our-doctors-content .uk-card-default {
  box-shadow: none !important;
}
.our-doctors .our-doctors-content .uk-card .name span {
  color: #000;
  font-weight: 600;
}
.our-doctors .our-doctors-content .uk-card .social-icons i {
  cursor: pointer;
  color: #000;
}
.our-doctors .our-doctors-content .uk-card .social-icons i:not(:first-of-type) {
  margin-left: 10px;
}
.our-doctors .our-doctors-content .uk-card .social-icons i:hover {
  color: #3399FF;
}
.our-doctors .our-doctors-content .uk-card .uk-card-body {
  padding: 20px;
}
.our-doctors .our-doctors-content .uk-card .uk-card-body .uk-card-title {
  color: #000;
  margin-bottom: 0 !important;
}
.our-doctors .our-doctors-content .uk-card .uk-card-body p {
  margin-top: 5px;
}
.our-doctors button {
  width: 150px;
  height: 46px;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  -ms-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.our-doctors .more-btn {
  background: #3399FF;
  -ms-transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.our-doctors .more-btn .fa-long-arrow-right {
  transform: scale(0);
  margin-left: -10px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.our-doctors .more-btn:hover .fa-long-arrow-right, .our-doctors .more-btn:hover .fa-plus {
  transform: scale(1);
  margin-left: 7px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

/* End Our Doctors Section */
/* Start Achievments Section */
.achievemets {
  padding: 100px 0;
  margin-bottom: 100px;
  color: #000;
  -webkit-background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../imgs/ser6.jpg");
  -ms-background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../imgs/ser6.jpg");
  -moz-background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../imgs/ser6.jpg");
  -o-background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../imgs/ser6.jpg");
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../imgs/ser6.jpg");
  -webkit-background-attachment: fixed;
  -ms-background-attachment: fixed;
  -moz-background-attachment: fixed;
  -o-background-attachment: fixed;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.achievemets .heading h3 {
  color: #000;
  font-weight: 900;
}
.achievemets .achievments-content {
  margin-top: 50px;
}
.achievemets .achievments-content .icon img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}
.achievemets .achievments-content .number span {
  font-weight: 900;
}
.achievemets .achievments-content .title h4 {
  margin-top: 7px;
}

/* End Achievments Section */
/* Start question Section */
.question {
  padding: 100px 0;
  -webkit-background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../imgs/ser6.jpg");
  -ms-background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../imgs/ser6.jpg");
  -moz-background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../imgs/ser6.jpg");
  -o-background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../imgs/ser6.jpg");
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../imgs/ser6.jpg");
  -webkit-background-attachment: fixed;
  -ms-background-attachment: fixed;
  -moz-background-attachment: fixed;
  -o-background-attachment: fixed;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.question .question-content .question-heading h3 {
  font-weight: 900;
  color: #000;
}
.question .question-content .question-heading p {
  color: #000;
}
.question .question-content .question-btn button {
  width: 150px;
  height: 46px;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  -ms-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  margin-top: 20px;
  background: #000;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.question .question-content .question-btn button:hover {
  background: #3399FF;
}
.question .question-content .question-btn button .fa-long-arrow-right {
  transform: scale(0);
  margin-left: -10px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.question .question-content .question-btn button:hover .fa-long-arrow-right {
  transform: scale(1);
  margin-left: 7px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

/* End question Section */
/* Start Departments & Appointment Section */
.departments {
  padding: 100px 0;
}
.departments .heading h3 {
  color: #000;
  font-weight: 900;
}
.departments .dep-content {
  margin: 50px 0;
}
.departments .dep-content .icons h5 {
  color: #000;
  margin-top: 15px;
}
.departments .dep-content .icons p {
  color: #999;
}
.departments .dep-content .icons .uk-dotnav > * > * {
  width: 12px;
  height: 12px;
}
.departments .dep-content .icons .uk-dotnav > .uk-active > * {
  background-color: #3399FF !important;
}
.departments .dep-content .icons .uk-dotnav > * > :focus, .departments .dep-content .icons .uk-dotnav > * > :hover {
  background: #3399FF;
}
.departments .dep-content .info .title h4 {
  color: #000;
}
.departments .dep-content .info button {
  width: 150px;
  height: 46px;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  -ms-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  width: 160px;
  background: #3399FF;
  margin-right: 10px;
  margin-bottom: 5px;
}
.departments .dep-content .info button .fa-long-arrow-right {
  transform: scale(0);
  margin-left: -10px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.departments .dep-content .info button:hover .fa-long-arrow-right {
  transform: scale(1);
  margin-left: 7px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

/* End Departments & Appointment Section */
/* Start Testimonials Section */
.testimonials {
  padding-top: 100px;
  -webkit-background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../imgs/ser6.jpg");
  -ms-background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../imgs/ser6.jpg");
  -moz-background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../imgs/ser6.jpg");
  -o-background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../imgs/ser6.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../imgs/ser6.jpg");
  -webkit-background-attachment: fixed;
  -ms-background-attachment: fixed;
  -moz-background-attachment: fixed;
  -o-background-attachment: fixed;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.testimonials .heading h3 {
  color: #fff;
  font-weight: 900;
}
.testimonials .testim-content {
  margin: 50px 0;
}
.testimonials .testim-content .star {
  position: relative;
}
.testimonials .testim-content .star i {
  position: absolute;
  right: 0;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 10px;
  font-size: 20px;
  z-index: 1;
}
.testimonials .testim-content .uk-dotnav > * > * {
  width: 12px;
  height: 12px;
}
.testimonials .testim-content .uk-dotnav > .uk-active > * {
  background-color: #3399FF !important;
}
.testimonials .testim-content .uk-dotnav > * > :focus, .testimonials .testim-content .uk-dotnav > * > :hover {
  background: #3399FF;
}
.testimonials .testim-content .uk-comment-primary {
  background-color: rgba(255, 255, 255, 0.077);
}
.testimonials .testim-content .uk-comment-primary img {
  width: 80px;
  height: 80px;
}
.testimonials .testim-content header h4 {
  color: #fff !important;
}
.testimonials .testim-content header ul li a {
  color: #ccc !important;
}
.testimonials .testim-content .uk-comment-body p {
  color: #ccc !important;
  line-height: 1.8;
}

/* End Testimonials Section */
/* Start Blog Section */
.blog {
  padding: 100px 0;
}
.blog .heading h3 {
  color: #000;
  font-weight: 900;
}
.blog .blog-content {
  margin: 50px 0;
}
.blog .blog-content .blog-box {
  background-color: #fff;
}
.blog .blog-content .uk-padding-small {
  padding: 25px !important;
}
.blog .blog-content .blog-date {
  background: #3399FF;
  color: #fff;
  padding: 4px;
  margin-top: -1px;
}
.blog .blog-content .blog-title h5 {
  margin-bottom: 10px;
  margin-top: 10px;
  color: #000;
}
.blog .blog-content .blog-icons span {
  margin-right: 15px;
}
.blog .blog-content .blog-icons span i {
  color: #3399FF;
  font-size: 20px;
  margin-right: 10px;
}
.blog .blog-content .blog-icons a {
  text-decoration: none;
  color: #000;
}
.blog .blog-content .blog-icons a i {
  color: #3399FF;
  -webkit-animation: movement 1s ease-in-out infinite;
  -moz-animation: movement 1s ease-in-out infinite;
  -ms-animation: movement 1s ease-in-out infinite;
  -o-animation: movement 1s ease-in-out infinite;
  animation: movement 1s ease-in-out infinite;
}

@keyframes movement {
  0%,
    100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(4px, 0);
  }
}
/* End Blog Section */
/* Start Contact Us Section */
.contact-us {
  padding: 100px 0;
  -webkit-background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../imgs/ser6.jpg");
  -ms-background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../imgs/ser6.jpg");
  -moz-background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../imgs/ser6.jpg");
  -o-background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../imgs/ser6.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../imgs/ser6.jpg");
  -webkit-background-attachment: fixed;
  -ms-background-attachment: fixed;
  -moz-background-attachment: fixed;
  -o-background-attachment: fixed;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.contact-us .heading h3 {
  font-weight: 900;
  color: #fff;
}
.contact-us .contact-inputs {
  margin: 50px 0;
}
.contact-us .contact-inputs .uk-grid-divider > :not(.uk-first-column)::before {
  border-left: 1px solid rgba(255, 255, 255, 0.077) !important;
}
.contact-us .contact-inputs .uk-grid-divider.uk-grid-stack > .uk-grid-margin::before {
  border-top: 1px solid rgba(255, 255, 255, 0.077) !important;
}
.contact-us .contact-inputs .uk-padding-small {
  padding: 33px !important;
}
.contact-us .contact-inputs .inputs {
  background: rgba(255, 255, 255, 0.077);
}
.contact-us .contact-inputs .inputs label {
  color: #fff;
}
.contact-us .contact-inputs .inputs label i {
  color: #3399FF;
}
.contact-us .contact-inputs .inputs input, .contact-us .contact-inputs .inputs textarea {
  width: 100%;
  outline: none;
  height: 50px;
  padding-left: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}
.contact-us .contact-inputs .inputs textarea {
  padding-left: 10px;
  padding-top: 10px;
  resize: none;
  height: 130px;
}
.contact-us .contact-inputs .inputs button {
  width: 150px;
  height: 46px;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  -ms-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: #3399FF;
}
.contact-us .contact-inputs .inputs button .fa-long-arrow-right {
  transform: scale(0);
  margin-left: -10px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.contact-us .contact-inputs .inputs button:hover .fa-long-arrow-right {
  transform: scale(1);
  margin-left: 7px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.contact-us .contact-inputs .location-info {
  background: rgba(255, 255, 255, 0.077);
}
.contact-us .contact-inputs .location-info i {
  color: #3399FF;
  font-size: 85px;
  margin-top: 80px;
  margin-bottom: 15px;
}
.contact-us .contact-inputs .location-info span {
  color: #fff;
  font-size: 16px;
  margin-bottom: 15px;
}
.contact-us .contact-inputs .location-info .uk-button-default {
  background: #3399FF;
  color: #fff;
  border: none;
}

input:required, textarea:required {
  box-shadow: none;
}

/* End Contact Us Section */
/* Start Footer Section */
.footer {
  padding: 100px 0;
  margin-top: 100px;
  -webkit-background: linear-gradient(rgba(0, 0, 0, 0.94), rgba(0, 0, 0, 0.94)), url("../imgs/pattern.jpg");
  -ms-background: linear-gradient(rgba(0, 0, 0, 0.94), rgba(0, 0, 0, 0.94)), url("../imgs/pattern.jpg");
  -moz-background: linear-gradient(rgba(0, 0, 0, 0.94), rgba(0, 0, 0, 0.94)), url("../imgs/pattern.jpg");
  -o-background: linear-gradient(rgba(0, 0, 0, 0.94), rgba(0, 0, 0, 0.94)), url("../imgs/pattern.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.94), rgba(0, 0, 0, 0.94)), url("../imgs/pattern.jpg");
  -webkit-background-position: center center;
  -ms-background-position: center center;
  -moz-background-position: center center;
  -o-background-position: center center;
  background-position: center center;
  -webkit-background-attachment: fixed;
  -ms-background-attachment: fixed;
  -moz-background-attachment: fixed;
  -o-background-attachment: fixed;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.footer .footer-content h4 {
  color: #fff;
}
.footer .footer-content .about .loc span, .footer .footer-content .about .email span {
  color: #fff;
}
.footer .footer-content .about .loc span i, .footer .footer-content .about .email span i {
  margin-right: 15px;
  border: 1px solid #333;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-top: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.footer .footer-content .navigation ul li a {
  text-decoration: none;
}
.footer .footer-content .navigation ul li a:hover {
  color: #3399FF !important;
}
.footer .footer-content .navigation .uk-list-divider > li:nth-child(n+2) {
  border-top: 1px solid #555;
}
.footer .footer-content .opening-hrs .uk-list-divider > li:nth-child(n+2) {
  border-top: 1px solid #555;
}
.footer .footer-content .newsletter .uk-form-width-medium {
  width: 200px !important;
}
.footer .footer-content .newsletter .uk-input:focus, .footer .footer-content .newsletter .uk-select:focus, .footer .footer-content .newsletter .uk-textarea:focus {
  border-color: transparent;
}
.footer .footer-content .newsletter .uk-margin {
  position: relative;
}
.footer .footer-content .newsletter button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  height: 40px;
  width: 48px;
  color: #fff;
  background: #3399FF;
  cursor: pointer;
}
.footer .footer-content .newsletter .slider .box {
  background: rgba(0, 0, 0, 0.75);
  padding: 15px;
}
.footer .footer-content .newsletter .uk-dotnav > * > * {
  width: 12px;
  height: 12px;
}
.footer .footer-content .newsletter .uk-dotnav > .uk-active > * {
  background-color: #3399FF !important;
}
.footer .footer-content .newsletter .uk-dotnav > * > :focus, .footer .footer-content .newsletter .uk-dotnav > * > :hover {
  background: #3399FF;
}

.copyright {
  padding: 30px;
  background: #000;
  color: #aaa;
}
.copyright .designer a {
  text-decoration: none;
  color: #3399FF;
  font-weight: 900;
}
.copyright .social-icons a {
  color: #aaa;
}
.copyright .social-icons a:not(:last-child) {
  margin-right: 10px;
}
.copyright .social-icons a i {
  border: 1px solid #1d1c1c;
  color: #eee;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.copyright .social-icons a i:hover {
  transform: rotate(360deg);
  background: #3399FF;
  border-color: #3399FF;
  color: #fff;
}

/* End Footer Section */
/****  Internal Pages Style  ****/
/* Start Booking, Appointments Section Style */
.booking {
  padding-top: 100px;
}
.booking .heading h3 {
  font-weight: 900;
  color: #000;
}
.booking .booking-content {
  margin: 50px 0;
}
.booking .booking-content .uk-input {
  height: 45px;
  border: 2px solid #efefef;
}
.booking .booking-content .uk-input:focus {
  border-left: 2px solid #3399FF;
}
.booking .booking-content .uk-textarea {
  resize: none;
  border: 2px solid #efefef;
}
.booking .booking-content .uk-textarea:focus {
  border-left: 2px solid #3399FF;
}
.booking .booking-content * + .uk-margin {
  margin-top: 8px !important;
}
.booking .booking-content .uk-margin {
  margin-bottom: 8px !important;
}
.booking .booking-content .gender, .booking .booking-content .time {
  color: #000;
}
.booking .booking-content form button {
  width: 150px;
  height: 46px;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  -ms-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: #3399FF;
}
.booking .booking-content form button .fa-long-arrow-right {
  transform: scale(0);
  margin-left: -10px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.booking .booking-content form button:hover .fa-long-arrow-right {
  transform: scale(1);
  margin-left: 7px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.appoint {
  padding-top: 100px;
}
.appoint .heading h3 {
  font-weight: 900;
  color: #000;
}
.appoint .appoint-content {
  margin: 50px 0;
}
.appoint .appoint-content .uk-table th {
  color: #555;
}
.appoint .appoint-content .uk-table tbody img {
  width: 40px !important;
}
.appoint .appoint-content .uk-table-hover tbody tr:hover, .appoint .appoint-content .uk-table-hover > tr:hover {
  background: #ffffef !important;
}

/* End Booking, Appointments Section Style */
/* Start Deaprtments Section Style */
.departments {
  padding-top: 100px;
}
.departments .heading h3 {
  font-weight: 900;
  color: #000;
}
.departments .departs-content {
  margin: 50px 0;
}
.departments .departs-content .uk-subnav-pill > .uk-active > a {
  background: #3399FF;
  color: #fff;
}
.departments .departs-content .uk-subnav a {
  background: #efefef;
  color: #666;
  margin-bottom: 10px;
}
.departments .departs-content .uk-switcher {
  margin-top: 50px !important;
}
.departments .departs-content .uk-switcher .info h4 {
  color: #000;
  font-weight: 900;
}
.departments .departs-content .uk-switcher .info p {
  line-height: 1.8;
}
.departments .departs-content .uk-switcher .info span i {
  font-size: 15px;
  color: #3399FF;
  margin-right: 10px;
  border: 1px solid #3399FF;
  font-weight: 900;
  width: 25px;
  height: 25px;
  line-height: 26px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.departments .departs-content .uk-switcher .info * + .uk-grid-margin, .departments .departs-content .uk-switcher .info .uk-grid + .uk-grid, .departments .departs-content .uk-switcher .info .uk-grid > .uk-grid-margin {
  margin-top: 15px !important;
}
.departments .departs-content .uk-switcher .info button {
  width: 150px;
  height: 46px;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  -ms-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: #3399FF;
  margin-top: 25px;
}
.departments .departs-content .uk-switcher .info button .fa-long-arrow-right {
  transform: scale(0);
  margin-left: -10px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.departments .departs-content .uk-switcher .info button:hover .fa-long-arrow-right {
  transform: scale(1);
  margin-left: 7px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

/* End Deaprtments Section Style */
/* Start FAQs Section Stye */
.faq .heading h3 {
  color: #000;
  font-weight: 900;
}
.faq .faq-content {
  margin: 50px 0;
}
.faq .faq-content ul li a {
  background: #efefef;
  padding: 15px;
  color: #383838;
  font-size: 16px;
}
.faq .faq-content ul li .uk-accordion-content p {
  padding: 15px;
  line-height: 2;
}

.new-q {
  margin-top: 50px;
}
.new-q h3 {
  color: #000;
  font-weight: 900;
}
.new-q textarea {
  padding-top: 10px;
  resize: none;
}
.new-q form button {
  width: 150px;
  height: 46px;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  -ms-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: #3399FF;
}
.new-q form button .fa-long-arrow-right {
  transform: scale(0);
  margin-left: -10px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.new-q form button:hover .fa-long-arrow-right {
  transform: scale(1);
  margin-left: 7px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

/* End FAQs Section Stye */
/* Start Internal Blog Section Style */
.internal-blog {
  padding-top: 100px;
}
.internal-blog .internal-blog-content .post-info {
  background: #fff;
  margin-top: 10px;
}
.internal-blog .internal-blog-content .post-info .date span {
  color: #b3b1b1;
}
.internal-blog .internal-blog-content .post-info .title h4 {
  margin-top: 15px;
  color: #000;
  font-weight: 900;
}
.internal-blog .internal-blog-content .post-info .desc p {
  line-height: 2;
}
.internal-blog .internal-blog-content .post-info .blog-btn a {
  text-decoration: none;
  color: #3399FF;
}
.internal-blog .internal-blog-content .post-info .blog-btn .uk-button-text::before {
  border-bottom: 1px solid #3399FF !important;
}
.internal-blog .internal-blog-content .post-info .blog-btn i {
  color: #000;
  cursor: pointer;
  margin-top: 5px;
}
.internal-blog .internal-blog-content .post-info .blog-btn .liked {
  color: #f00;
  -webkit-animation: liked 0.4s 1;
  -moz-animation: liked 0.4s 1;
  -ms-animation: liked 0.4s 1;
  -o-animation: liked 0.4s 1;
  animation: liked 0.4s 1;
}
.internal-blog .internal-blog-content .comments h4 {
  color: #000;
  font-weight: 900;
}
.internal-blog .internal-blog-content .form-head h4 {
  margin-top: 50px;
  color: #000;
  font-weight: 900;
}
.internal-blog .internal-blog-content form {
  margin: 50px 0;
}
.internal-blog .internal-blog-content form textarea {
  resize: none;
  padding-top: 10px;
}
.internal-blog .internal-blog-content form .uk-first-column {
  padding-left: 0;
}
.internal-blog .internal-blog-content form button {
  padding-left: 25px !important;
}
.internal-blog .internal-blog-content .uk-pagination > .uk-active > * {
  color: #3399FF;
  font-weight: 600;
}
.internal-blog .internal-blog-content .search {
  position: relative;
}
.internal-blog .internal-blog-content .search i {
  position: absolute;
  top: 13px;
  left: 10px;
  color: #000;
}
.internal-blog .internal-blog-content .search input {
  height: 40px;
  padding-left: 35px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 16px;
  color: #6f6b6b;
}
.internal-blog .internal-blog-content .about-blog {
  margin-top: 20px;
}
.internal-blog .internal-blog-content .about-blog .about-head h4 {
  color: #000;
  font-weight: 900;
}
.internal-blog .internal-blog-content .recent-posts .recent-head h4 {
  color: #000;
  font-weight: 900;
}
.internal-blog .internal-blog-content .recent-posts .posts a {
  border: 1px solid #f4f4f4;
  padding: 10px;
  display: block;
  margin-bottom: 10px;
  color: #3399FF;
}
.internal-blog .internal-blog-content .categories .categories-head h4, .internal-blog .internal-blog-content .categories .meta-head h4, .internal-blog .internal-blog-content .categories .tags-head h4, .internal-blog .internal-blog-content .meta .categories-head h4, .internal-blog .internal-blog-content .meta .meta-head h4, .internal-blog .internal-blog-content .meta .tags-head h4, .internal-blog .internal-blog-content .tags .categories-head h4, .internal-blog .internal-blog-content .tags .meta-head h4, .internal-blog .internal-blog-content .tags .tags-head h4 {
  color: #000;
  font-weight: 900;
}
.internal-blog .internal-blog-content .categories .list-item li, .internal-blog .internal-blog-content .meta .list-item li, .internal-blog .internal-blog-content .tags .list-item li {
  border: 1px solid #f4f4f4;
  padding: 10px;
  color: #3399FF;
}
.internal-blog .internal-blog-content .categories .list-item li span, .internal-blog .internal-blog-content .meta .list-item li span, .internal-blog .internal-blog-content .tags .list-item li span {
  color: inherit;
  margin-right: 6px;
}
.internal-blog .internal-blog-content .tags-item span {
  background: #3399FF;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  display: inline-block;
  margin: 4px 4px 4px 0;
}

@keyframes liked {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
/* End Internal Blog Section Style */
/** Additional Style **/
/* Scroll To Top */
#scroll-top {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  color: #FFF;
  background-color: #3399FF;
  text-align: center;
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 999;
  display: none;
  cursor: pointer;
}
#scroll-top span {
  margin-right: 2px;
}

/* Loading Screen */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: #3399FF;
}

.spinner {
  margin: 300px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
/* End Loading Screen */
/* Start Responsive Style with Media Queries */
/* Upper bar Section */
@media (max-width: 640px) {
  .upper-bar .links, .upper-bar .social-links {
    text-align: center !important;
  }
}
/* Start Header */
@media (max-width: 640px) {
  .header h2 {
    font-size: 30px !important;
  }
  .header button {
    width: 125px;
    height: 38px;
    font-size: 12px;
  }
}
/* Start Quote */
@media (max-width: 640px) {
  .quote {
    height: 220px;
  }
  .quote .sentence p {
    font-size: 23px;
  }
}
/* Start Build */
@media (max-width: 550px) {
  .features {
    height: 450px !important;
  }
}
/* Start Question Section */
@media (max-width: 960px) {
  .question-btn, .question-heading, .question-heading h3 {
    text-align: center !important;
  }
}
/* Contact Us Section */
@media (max-width: 1200px) {
  .contact-us .contact-inputs .location-info i {
    margin-top: 0;
  }
  .contact-us .contact-inputs .textarea {
    margin-top: 22px;
  }
}
/* Start Footer */
@media (max-width: 960px) {
  .copyright .designer, .copyright .social-icons {
    text-align: center !important;
  }
}

/*# sourceMappingURL=main.css.map */
